.main {
    background: #1F2937;
    padding: 5% 10%;
    /* margin: 0 25%; */
    justify-content: center;
}

h1 {
    font-family: Karla;
    font-size: 3.5rem;
    color: white;
}

p {
    font-size: 1.5rem;
    color: white;
}

.h1color {
    color: #4ADF86;
}

#generator {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Georgia;
    color: white;
    font-size: 1.3rem;
    background: #10B981;
    padding: 8px 15px 8px 15px;
    margin-bottom: 3%;
    text-decoration: none;
    border: 0;
}

#generator:hover {
    background: #218249;
    text-decoration: none;
}

.copyText {
    background: #273549;
    background-image: -webkit-linear-gradient(top, #273549, #273549);
    background-image: -moz-linear-gradient(top, #273549, #273549);
    background-image: -ms-linear-gradient(top, #273549, #273549);
    background-image: -o-linear-gradient(top, #273549, #273549);
    background-image: linear-gradient(to bottom, #273549, #273549);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 3%;
    font-family: Georgia;
    color: #55F991;
    font-size: 1.2rem;
    padding: 1% 8%;
    margin: 5% 1% 0 0;
    text-decoration: none;
    border: 0;
    flex-basis: 10%;
}

.copyText:hover {
    background: #15537a;
    text-decoration: none;
}

.btn {
    background: #273549;
    background-image: -webkit-linear-gradient(top, #273549, #273549);
    background-image: -moz-linear-gradient(top, #273549, #273549);
    background-image: -ms-linear-gradient(top, #273549, #273549);
    background-image: -o-linear-gradient(top, #273549, #273549);
    background-image: linear-gradient(to bottom, #273549, #273549);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 3%;
    font-family: Georgia;
    color: #55F991;
    font-size: 1.2rem;
    padding: 1% 1%;
    margin: 5% 4% 0 0;
    text-decoration: none;
    border: 0;
}

.btn:hover {
    background: #15537a;
    text-decoration: none;
}

.passwords {
    display: flex;
    align-items: center;
}

#enterpassword {
    font-size: 1.5rem;
    color: white;
    width: 70%;
    height: 20%;
    border: none;
    border-bottom: 1px solid #989393;
    background: transparent;
}

#lengthOfPassword {
    color: white;
    width: 5%;
    height: 10%;
    border: none;
    border-bottom: 1px solid #989393;
    background-color: transparent;
}

.input-group {
    color: white;
    position: relative;
    padding-bottom: 3%;
}